/*#region ResetCss*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol,
dl {
  list-style: none;
}

#root,
#__next {
  isolation: isolate; /* React/Next.js */
}
/*#endregion*/

html {
  padding: 0px 20px;
  z-index: 1;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.score {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #5f5f61;
  border-radius: 8px;
}
.mode {
  display: flex;
  align-items: center;
}
.difficulty {
  align-items: center;
  padding: 10px 0;
}

.typeText {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 20px;
}

#passage span.correct {
  color: green !important;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
}
#passage span.wrong {
  color: red !important;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
}
#passage span.current {
  color: white !important;
  background: #2b2a2a;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  place-content: center;
  background: rgba(0, 0, 0, 0.54);
  z-index: 900;
  backdrop-filter: blur(1.5px);
}

#modalContent {
  padding: 10px 20px;
  text-align: center;
  position: absolute;
  z-index: 1000;
  justify-self: center;
  border: 2px solid black;
  text-align: center;
  background: rgba(175, 175, 175, 0.8);
  border-radius: 8px;
  overflow: visible;
}
