/*#region ResetCss*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol,
dl {
  list-style: none;
}

.radio-custom {
  list-style: none;
  margin: 0;
  padding: 0;
}

#root,
#__next {
  isolation: isolate; /* React/Next.js */
}
/*#endregion*/

/*#region variables */
:root {
  --color-border: black;
  --color-bg: rgba(175, 175, 175, 0.8);
  --color-principal: rgba(244, 244, 244, 0.86);
  --color-secondary: rgba(74, 77, 79, 0.86);
  --color-text-secondary: white;
}

/*#endregion */

[data-theme='dark'] {
  --color-border: white;
  --color-bg: rgba(244, 244, 244, 0.86);
  --color-principal: rgba(175, 175, 175, 0.8);
  --color-secondary: rgba(74, 77, 79, 0.86);
  --color-text-secondary: black;
}
html {
  padding: 0px 20px;
  z-index: 1;
  background-color: var(--color-principal);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.score {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  border: 2px solid rgba(50, 50, 50, 1);
  background-color: var(--color-bg);
  border-radius: 8px;
}

.container-flex {
  display: flex;
  flex-direction: row;
  gap: 10px 20px;
  margin: 20px 0;
  justify-self: center;
  width: fit-content;
}

.mode {
  display: flex;
  align-items: center;
}
.difficulty {
  display: flex;
  align-items: center;
}

.radio-group {
  border: 2px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;
}

.radio-group:after {
  content: '';
  clear: both;
}

.radio-custom {
  position: relative;
  width: max;
  height: max;
}

.radio-group label {
  cursor: pointer;
  padding: 4px 4px;
  border: box-sizing;
}

label input[type='radio'] {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

label input[type='radio']:hover {
  background-color: rgba(78, 102, 130, 0.11);
  border-radius: 7px;
  width: max;
}

label input[type='radio']:checked {
  background-color: rgba(78, 102, 130, 0.31);
  border-radius: 7px;
  z-index: -1;
  transition: all 0.6s ease;
  width: max;
}

.typeText {
  border: 2px solid var(--color-border);
  border-radius: 8px;
  padding: 10px 20px;
}

#passage {
  margin: 0 8px;
}
#passage span.correct {
  color: green !important;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
}
#passage span.wrong {
  text-decoration: underline red 1 px;
  color: red !important;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
}
#passage span.current {
  color: var(--color-text-secondary) !important;
  background: var(--color-border);
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.54);
  z-index: 900;
  backdrop-filter: blur(1.5px);
}

#modalContent {
  padding: 10px 20px;
  margin-top: 150px;
  text-align: center;
  position: absolute;
  z-index: 1000;
  justify-self: center;
  border: 3px solid var(--color-border);
  background: var(--color-bg);
  border-radius: 25px;
}
#modalContent .fecharModal {
  display: flex;
  color: red;
  font-size: 18px;
  position: absolute;
  padding: 4px;
  transform: rotate(90deg);
  right: 5px;
  top: -15px;
  border-radius: 6px;
  border: 1px solid rgba(200, 50, 50, 1);
  background: var(--color-bg);
  cursor: pointer;
}
button {
  padding: 4px;
  border-radius: 6px;
  border: 1px solid rgba(50, 150, 50, 1);
  background: rgba(175, 195, 175, 0.6);
  cursor: pointer;
}
footer {
  background: var(--color-bg);
  padding: 20px;
  max-width: 900px;
  width: 100%;
  border-radius: 18px 18px 0 0;
  position: fixed;
  bottom: 0;
  justify-self: center;
}

/*#region mediaqueryes*/

@media (max-width: 481px) {
  .container-media {
    padding: 20px;
    max-width: 768px;
    margin: 0 auto;
  }
  .btn {
    width: auto;
    padding: 12px 24px;
  }
  .mode,
  .difficulty {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .radio-custom {
    border: 8px;
  }
}

/* Monitor/Desktop (769px+) */
@media (min-width: 769px) {
  .container-media {
    padding: 40px;
    max-width: 1200px;
  }

  .score {
    width: 100%;
    max-width: 800px;
    place-self: center;
  }

  .typeText {
    place-self: center;
    width: 100%;
    max-width: 600px;
    justify-items: center;
  }

  .btn {
    display: flex;
    place-self: center;
  }
}

/* Monitor Grande (1201px+) */
@media (min-width: 1201px) {
  .container-media {
    max-width: 1400px;
  }
}
/*#endregion#*/
